.pacman-game-actor {
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);
    transition: all linear var(--pacman-update-cycle);

    > * {
        width: var(--game-actors-size);
        height: var(--game-actors-size);
    }
}
