.power-up-game-actor {
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);
    justify-content: center;

    >div {
        width: var(--game-actors-size);
        height: var(--game-actors-size);
    }
}

// .power-up-body {

//     height: 100%;

//     >div {
//         width: var(--game-actors-size);
//         height: var(--game-actors-size);
//     }
// }

// .pacman-game-actor>* {
//     width: var(--game-actors-size);
//     height: var(--game-actors-size);
// }