.splash-screen-title {
    font-family: 'Neonderthaw', cursive;
    font-size: 6.5rem;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}

.splash-screen-text {
    font-size: 2rem;
    font-family: 'Neonderthaw', cursive;
    // font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
