.score-info {
    display: inline-flex;
    gap: 10px;

    transition: all 500ms ease;
}

.score-text {
    //font-family: "Neonderthaw", cursive;
    font-family: "BhuTuka Expanded One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.score-icon {
    position: relative;
    width: var(--tile-size);
    height: var(--tile-size);
}