.score-info {
    display: inline-flex;
    gap: 10px;
}

.score-text {
    //font-family: "Neonderthaw", cursive;
    font-family: "BhuTuka Expanded One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.score-icon {
    width: 20px;
    height: 20px;
}