.score-info {
    display: inline-flex;
    gap: 10px;
    filter: blur(0);
    opacity: 1;

    & small {
        font-size: smaller;
        padding: 0 5px 0 10px;
    }
}

.score-text {
    //font-family: "Neonderthaw", cursive;
    font-family: "BhuTuka Expanded One", serif;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.score-icon {
    position: relative;
    width: calc(1.5*var(--tile-size));
    height: calc(1.5*var(--tile-size));
}