:root {
    --eat-animation-duration: calc(var(--pacman-update-cycle) * 0.33);
    --death-animation-duration: 100ms;
}

.pacman-body {
    height: 100%;
    box-shadow: 0 0 10px 0px var(--pacman-body-color);
    border-radius: var(--game-actors-size);
    transition: transform ease-in-out 200ms;
    display: flex;
}

.pacman-left-side {
    border: 1px solid var(--pacman-body-color);
    border-right: none;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    height: 100%;
    width: 50%;
}

.pacman-right-side {
    height: 100%;
    width: 50%;
}

.pacman-top-right-side {
    border: 1px solid var(--pacman-body-color);
    border-left: none;
    border-top-right-radius: 1000px;
    height: 50%;

    &.dead {
        border-bottom: none;
    }
}

.pacman-bottom-right-side {
    border: 1px solid var(--pacman-body-color);
    border-left: none;
    border-bottom-right-radius: 1000px;
    height: 50%;
    transform-origin: top left;
    animation-name: eat-animation;
    animation-timing-function: ease-out;
    animation-duration: var(--eat-animation-duration);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes eat-animation {
    to {
        transform: rotate(50deg);
    }
}

.pacman-mouth {
    height: 1px;
    width: 50%;
    position: absolute;
    opacity: 0;
    top: 50%;
    right: 0%;
    background-color: var(--pacman-body-color);
    box-shadow: 0 0 5px 1px var(--pacman-body-color);
    transition: all ease-out var(--death-animation-duration);

    &.dead {
        right: 25%;
        opacity: 1;
    }
}

.pacman-alive-eye {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: var(--pacman-body-color);
    box-shadow: 0 0 5px 1px var(--pacman-body-color);
    position: absolute;
    top: 30%;
    right: 30%;
    transition: all ease-out var(--death-animation-duration);

    &.dead {
        height: 2px;
        border-radius: 0;
        left: 30%;
    }
}

.pacman-dead-eye {
    width: 10%;
    height: 2px;
    border-radius: 0;
    background-color: var(--pacman-body-color);
    box-shadow: 0 0 5px 1px var(--pacman-body-color);
    position: absolute;
    top: 30%;
    right: 30%;
    transition: all ease-out var(--death-animation-duration);
}