:root {
    --game-update-cycle: 100ms;

    --tile-size: 20px;
    --pacman-tiles-per-cycle: .75;
    --ghost-tiles-per-cycle: .5;

    --pacman-body-color: #fdff00;
    --blinky-body-color: #FF0000;
    --pinky-body-color: #FFB8FF;
    --inky-body-color: #00FFFF;
    --clyde-body-color: #FFB852;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}