@use 'sass:color';
@use 'sass:string';

:root {
    --pacman-update-cycle: 400ms;
    --ghost-update-cycle: 425ms;

    --tile-size: calc(min(30px, calc(100svmin / 25)));
    --game-actors-size: 65%;

    --fruit-color: rgba(172, 255, 47, 1);
    --empty-color: black;
    --wall-color: rgba(0, 0, 255, 1);
    --pacman-body-color: #fdff00;
    --blinky-body-color: #ff0000;
    --pinky-body-color: #ffb8ff;
    --inky-body-color: #00ffff;
    --clyde-body-color: #ffb852;
    --frightened-ghost-color: rgba(0, 0, 255, 1);

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --fruit-color: rgba(172, 255, 47, 0.85);
        --empty-color: black;
        --wall-color: rgba(0, 0, 255, 0.85);
        --pacman-body-color: #fdff00cc;
        --blinky-body-color: #ff0000cc;
        --pinky-body-color: #ffb8ffcc;
        --inky-body-color: #00ffffcc;
        --clyde-body-color: #ffb852cc;
        --frightened-ghost-color: rgba(0, 0, 255, 0.85);
    }
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}