:root {
    --game-update-cycle: 100ms;
    --pacman-pixels-per-cycle: 10px;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}