:root {
    --pacman-update-cycle: 175ms;
    --ghost-update-cycle: 300ms;

    --tile-size: 20px;
    --game-actors-size: calc(var(--tile-size) * .65);

    --empty-color: black;
    --wall-color: blue;
    --pacman-body-color: #fdff00;
    --blinky-body-color: #FF0000;
    --pinky-body-color: #FFB8FF;
    --inky-body-color: #00FFFF;
    --clyde-body-color: #FFB852;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}