:root {
    --pacman-update-cycle: 175ms;
    --ghost-update-cycle: 300ms;

    --tile-size: 20px;
    --game-actors-size: calc(var(--tile-size) * 0.65);

    --empty-color: black;
    --wall-color: blue;
    --pacman-body-color: #fdff00;
    --blinky-body-color: #ff0000;
    --pinky-body-color: #ffb8ff;
    --inky-body-color: #00ffff;
    --clyde-body-color: #ffb852;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.game-actor {
    width: var(--game-actors-size);
    height: var(--game-actors-size);
    filter: blur(10px);
    animation: remove-blur 500ms 1 forwards;
}

@keyframes remove-blur {
    to {
        filter: blur(0px);
    }
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
    box-shadow: none;
}