#root {
    touch-action: pan-y;
    user-select: none;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    height: 100svh;
    width: 100svw;
    background-color: var(--background-color);
}
